.peculiarity {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.peculiarity__item {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.peculiarity__box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  height: 120px;

  border-radius: 4px;
  background-color: var(--sixth-color);
}
.peculiarity__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.peculiarity__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--third-color);
}
